[submodule "3rd/FBoW"]
	path = 3rd/FBoW
	url = https://github.com/stella-cv/FBoW.git
[submodule "3rd/tinycolormap"]
	path = 3rd/tinycolormap
	url = https://github.com/yuki-koyama/tinycolormap.git
[submodule "StellaVSLAM-Python-bindings"]
	path = StellaVSLAM-Python-bindings
	url = https://github.com/Squiro/StellaVSLAM-Python-bindings
[submodule "vslam-backend"]
	path = vslam-backend
	url = https://github.com/UNSLAM25/vslam-backend
